.container{
  display: flex;
  align-items: center;
  align-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.movingBlock{
  background-color: red;
  height: 25vh;
  width: 25vh;
}


/* Grid design */
.containerGrid {
  margin: auto;
  display: -ms-grid;
  display: grid;
  opacity: 1;
  grid-template-columns: 10vh 10vh 10vh 10vh;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
  padding: 2vh;
  border-radius: 2vh;
  background: rgba(102, 102, 102, 0.6)
}

.cubeItem{
  justify-self: stretch;
  align-self: stretch;
  background-color: orange;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 1.5vh;
}


/* .gridHeader {
  -ms-grid-column-span: 1;
  grid-column: span 12;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  height: auto;
}

.gridItemHead {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-weight: 700;
  text-align: center;
}

.gridItemContent {
  width: 80%;
  margin: auto;
  margin-top: 8px;
  -ms-grid-column-span: 4;
  grid-column: span 4;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
} */
